POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_DB=banking
POSTGRES_USER=banking
POSTGRES_PASSWORD=banking_dev_password
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=bankingminio
MINIO_SECRET_KEY=bankingminio123
MINIO_BUCKET=banking-cdc
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=
